ASCImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/utils/ImageRaw3Options.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  \brief    XML-схема описания передачи данных между приложением обработки RAW и компонентой AVSImageRaw3
  \author   Nikolay.Pogorskiy@avsmedia.net
-->
<xs:schema id="ImageRaw3Options"
    elementFormDefault="qualified"
    targetNamespace="http://tempuri.org/ImageRaw3Options.xsd"
    xmlns="http://tempuri.org/ImageRaw3Options.xsd"
    xmlns:mstns="http://tempuri.org/ImageRaw3Options.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name ="ImageRaw3">

    <xs:complexType>
      <xs:choice>
        <xs:element name="SimpleMode" type="mstns:SimpleModeType" maxOccurs="1" minOccurs="0"/>
        <xs:element name="ExtendedMode" type="mstns:ExtendedModeType" maxOccurs="1" minOccurs="0"/>
      </xs:choice>
      <xs:attribute name="mode" type="xs:unsignedInt" default="0" use="optional"/>
    </xs:complexType>

  </xs:element>


  <xs:complexType name = "SimpleModeType">
    <xs:all>

      <xs:element name="CameraWhiteBalance" minOccurs="0" maxOccurs="1" type="TypeAttribUse"/>

      <xs:element name="AutoWhiteBalance" minOccurs="0" maxOccurs="1" type="TypeAttribUse"/>

      <xs:element name="AverageGrayBox" type="mstns:AverageGreyBoxType" minOccurs="0" maxOccurs="1"/>

      <xs:element name="CustomWhiteBalance" type="mstns:CustomWhiteBalanceType" minOccurs="0" maxOccurs="1"/>

      <xs:element name="PresetWhiteBalance" type="mstns:PresetWhiteBalanceType" minOccurs ="0" maxOccurs="1"/>

      <xs:element name ="Temperature" type="mstns:TypeTemperature" minOccurs="0" maxOccurs="1"/>

      <xs:element name="CameraMatrix" minOccurs="0" maxOccurs="1" type="TypeAttribUse"/>

      <xs:element name="CorrectChromaticAberration" minOccurs="0" maxOccurs="1" type="TypeCorrectChromaticAberration"/>

      <xs:element name="DarknessLevel" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="max" type="xs:unsignedInt" default="0"/>
              <xs:attribute name="min" type="xs:unsignedInt" default="0"/>
              <xs:attribute name="use" type="xs:boolean" use ="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="SaturationLevel" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="max" type="xs:unsignedInt" default="0"/>
              <xs:attribute name="min" type="xs:unsignedInt" default="0"/>
              <xs:attribute name="use" type="xs:boolean" use ="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="DenoisingThreshold" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="TypeDenoisingThresholdValue">
              <xs:attribute name="max" type="TypeDenoisingThresholdValue" default="0"/>
              <xs:attribute name="min" type="TypeDenoisingThresholdValue" default="0"/>
              <xs:attribute name="use" type="xs:boolean" use ="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="HighlightMode" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="TypeHighlightModeValue">
              <xs:attribute name="max" type="TypeHighlightModeValue" default="0"/>
              <xs:attribute name="min" type="TypeHighlightModeValue" default="0"/>
              <xs:attribute name="use" type="xs:boolean" default="true" use="optional"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="NoAutoBrighten" minOccurs="0" maxOccurs="1" type="TypeAttribUse"/>

      <xs:element name="AdjustBrightness" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="TypeAdjustBrightnessValue">
              <xs:attribute name="max" type="TypeAdjustBrightnessValue"/>
              <xs:attribute name="min" type="TypeAdjustBrightnessValue"/>
              <xs:attribute name="use" type="xs:boolean" use ="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>


      <xs:element name="InterpolationQuality" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="ru">Качество байеровской интерполяции</xs:documentation>
          <xs:documentation xml:lang="en">Interpolation quality</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="TypeInterpolationQualityValue">
              <xs:attribute name="max" type="TypeInterpolationQualityValue"/>
              <xs:attribute name="min" type="TypeInterpolationQualityValue"/>
              <xs:attribute name="use" type="xs:boolean" use ="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="MedianFilterPasses" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="ru">Число проходов медианного фильтра</xs:documentation>
          <xs:documentation xml:lang="en">Median filter passes</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="max" type="xs:unsignedInt"/>
              <xs:attribute name="min" type="xs:unsignedInt"/>
              <xs:attribute name="use" type="xs:boolean" use ="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

    </xs:all>

    <xs:attribute name="ver" type="xs:unsignedInt" use="required"/>

  </xs:complexType>

  <!--*****************************************-->

  <xs:complexType name="ExtendedModeType">
  </xs:complexType>

  <!--*****************************************-->


  <xs:complexType name="AverageGreyBoxType">
    <xs:all>

      <xs:element name="X" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="max" type="xs:unsignedInt" default="0"/>
              <xs:attribute name="min" type="xs:unsignedInt" default="0"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="Y" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="max" type="xs:unsignedInt" default="0"/>
              <xs:attribute name="min" type="xs:unsignedInt" default="0"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="W" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="max" type="xs:unsignedInt" default="0"/>
              <xs:attribute name="min" type="xs:unsignedInt" default="0"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="H" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="max" type="xs:unsignedInt" default="0"/>
              <xs:attribute name="min" type="xs:unsignedInt" default="0"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

    </xs:all>
    <xs:attribute name="use" type="xs:boolean" use="required"/>
  </xs:complexType>

  <xs:complexType name="CustomWhiteBalanceType">
    <xs:all>

      <xs:element name="R" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="max" type="xs:unsignedInt" default="0"/>
              <xs:attribute name="min" type="xs:unsignedInt" default="0"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="G1" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="max" type="xs:unsignedInt" default="0"/>
              <xs:attribute name="min" type="xs:unsignedInt" default="0"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="B" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="max" type="xs:unsignedInt" default="0"/>
              <xs:attribute name="min" type="xs:unsignedInt" default="0"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="G2" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="max" type="xs:unsignedInt" default="0"/>
              <xs:attribute name="min" type="xs:unsignedInt" default="0"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

    </xs:all>
    <xs:attribute name="use" type="xs:boolean" use="required"/>
  </xs:complexType>
    

  <xs:complexType name="PresetWhiteBalanceType">
    <xs:simpleContent>
      <xs:extension base="xs:unsignedInt">
        <xs:attribute name="use" type="xs:boolean" use ="required"/>
        <xs:attribute name="max" type="xs:unsignedInt"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TypeTemperature">
    <xs:all>

      <xs:element name="TemperatureValue" minOccurs ="1" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="TypeTemperatureValue">
              <xs:attribute name="min" type="TypeTemperatureValue" use="required"/>
              <xs:attribute name="max" type="TypeTemperatureValue" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="Green" minOccurs ="1" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="TypeGreen">
              <xs:attribute name="min" type="TypeGreen" use="required"/>
              <xs:attribute name="max" type="TypeGreen" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

    </xs:all>
    <xs:attribute name="use" type="xs:boolean" use="required"/>
  </xs:complexType>

  <xs:simpleType name="TypeTemperatureValue">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="2000"/>
      <xs:maxInclusive value="15000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TypeGreen" final="restriction">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0.2"/>
      <xs:maxInclusive value="2.5"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TypeAttribUse">
    <xs:attribute name="use" type="xs:boolean" use="required"/>
  </xs:complexType>

  <xs:complexType name="TypeCorrectChromaticAberration">
    <xs:all>
      
      <xs:element name="R" minOccurs ="1" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="TypeCorrectChromaticAberrationValue">
              <xs:attribute name="max" type="TypeCorrectChromaticAberrationValue" default="0"/>
              <xs:attribute name="min" type="TypeCorrectChromaticAberrationValue" default="0"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="B" minOccurs ="1" maxOccurs="1">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="TypeCorrectChromaticAberrationValue">
              <xs:attribute name="max" type="TypeCorrectChromaticAberrationValue" default="0"/>
              <xs:attribute name="min" type="TypeCorrectChromaticAberrationValue" default="0"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>


    </xs:all>
   <xs:attribute name="use" type="xs:boolean" use="required"/> 
  </xs:complexType>

  <xs:simpleType name="TypeCorrectChromaticAberrationValue">
    <xs:restriction base="xs:float">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TypeDenoisingThresholdValue">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0.0"/>
      <xs:maxInclusive value="1000.0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TypeHighlightModeValue">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="9"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TypeAdjustBrightnessValue">
    <xs:restriction base="xs:float">
      <xs:minExclusive value="0.0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TypeInterpolationQualityValue">
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="3"/>
    </xs:restriction>
  </xs:simpleType>

  

</xs:schema>